<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="edgesync-service" value="https://pkgs.dev.azure.com/Advantech-EBO/d592cbbf-1bf4-4d80-8f88-e70b1ba73d84/_packaging/edgesync-service/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <edgesync-service>
      <add key="Username" value="AzureDevOps" />
      <add key="ClearTextPassword" value="PAT_TOKEN_HERE" />
    </edgesync-service>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="edgesync-service">
      <package pattern="EdgeSync.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
